.hidden {display: none;}
.unhidden {display: block;}
.shown{display:in-line;}

#errores {
    font-size: medium;
    text-align: center;
    color: red;
    list-style-type: none;
}
#welcome {
    border-radius: 3px;
    padding: 15px;
    background: #D7ECFA;
    position: relative;
}

.errorMessage {
    color: red;  
    list-style-type: none;
    font-size: 1em;
    font-weight: normal;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.aproveMsg {
    color: white;  
    list-style-type: none;
    font-weight: bold; 
    margin-left:3em;
}
.aproveDiv {

    border: 1px #888888 solid;
    box-shadow: 2px 2px 2px 1px #888888;
    -moz-box-shadow: 2px 2px 2px 1px #888888;
    -webkit-box-shadow: 2px 2px 2px 1px #888888;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgb(87,214,167); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(87,214,167,1) 0%, rgba(1,183,29,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87,214,167,1)), color-stop(100%,rgba(1,183,29,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(87,214,167,1) 0%,rgba(1,183,29,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(87,214,167,1) 0%,rgba(1,183,29,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(87,214,167,1) 0%,rgba(1,183,29,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(87,214,167,1) 0%,rgba(1,183,29,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6a7', endColorstr='#01b71d',GradientType=0 ); /* IE6-9 */

}


.denyMsg{
    color: white;  
    list-style-type: none;
    font-weight: bold;
    margin-left:3em;
}

.denyDiv{

    border: 1px #888888 solid;
    box-shadow: 2px 2px 2px 1px #888888;
    -moz-box-shadow: 2px 2px 2px 1px #888888;
    -webkit-box-shadow: 2px 2px 2px 1px #888888;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgb(255,91,76); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,91,76,1) 1%, rgba(173,5,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,91,76,1)), color-stop(100%,rgba(173,5,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,91,76,1) 1%,rgba(173,5,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,91,76,1) 1%,rgba(173,5,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,91,76,1) 1%,rgba(173,5,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,91,76,1) 1%,rgba(173,5,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5b4c', endColorstr='#ad0500',GradientType=0 ); /* IE6-9 */


}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

/* Headings
-------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1em;
    padding: 0;
    margin: 24px 0 12px 0;
}
h1 { font-size: 1.154em; } /* 28px */
h2 { font-size: 1.692em; } /* 22px */
h3 { font-size: 1.385em; } /* 18px */
h4 { font-size: 1.231em; } /* 16px */
h5 { font-size: 1.077em; } /* 14px */
h6 { font-size: 1em; }
h1.title{
    margin-top: 7px;
}
h2.title {
    color:#336699;
    margin-top: 0;
    margin-bottom: 0.2em;
}
h2.block-title {
    font-size: 1.385em;
    line-height: 1.2;
    margin: 0 0 0.4em 0;
}
h1.site-name { /* 48px */
    font-size: 3.692em;
    margin: 0 0 0.2em 0;
    padding: 0;
}
h2.site-slogan {
    font-size: 1.077em;
    margin: 0;
    padding: 0;
}
/*-------------------------------------------*/

#ventana {
    position: fixed; 
    width: 350px; 
    height: 190px; 
    top: 0; 
    left: 0; 
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px; 
    font-weight: normal; 
    border: #333333 3px solid; 
    background-color: #FAFAFA; 
    color: #000000; 
    display:none;
}

#btnAceptar {
    padding: 10px; 
    background-color: #F0F0F0; 
    text-align: center; 
    margin-top: 44px;
}

table {

    color: black;
    margin-left: auto;
    margin-right: auto;
    alignment-adjust: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

td {
    /*    background-color: rgba(0,0,255,0.1);*/
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

tr{

    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Links */
a {
    color: #126598;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:hover {

    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/********************
      ESTRUCTURA
*********************/

#container {
    position:relative;
}

#body-content {
    margin: auto;
    background-color: white;
    width: 80%;
    position: relative;
    padding-bottom: 100px;
}

#banner{
    alignment-adjust: central;
    width: 990px;
    height: 160px;
}

.nav li a{
    font-size: 0.8em;
    color: #1C6EA0;
}

.nav li a:hover{
    color: white;
    background-color: #42a142;
    text-decoration: none
}

.nav > li{
    float:left;	
}

#login-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    padding: 3px;
}

#login-form2{
    position: relative;
    width: 400px;
    left:-20px;
    background-color: white;
}

#login-form table {
    width: 100%;
    color: white;
}

#sidebarR {

    width: 150px;
    float: right;
    margin-top: 50px;
}

#sidebarL {

    width: 170px;
    float: left;
    margin-top: 50px;
    text-align: left;
    font-size: 0.9em;
    font-weight: bold;
}
.error{
    border-color: red;
}

#Bienve{
    float: left;
    color:#369;
    font-size: 1.0em;

}

#Bienve h1{
    letter-spacing: 1px;
    color:#369;
    font-size: 0.9em;
    margin-left: 50px;
}

#NombreUser{
    letter-spacing: 1px;
    font-weight: normal;
    float: right;
    width: 640px;
    color:#369;
    font-size: 1.0em;
    /*top:280px;
    left:250px;
    position: absolute;*/
}

#NombreUser h1{
    letter-spacing: 1px;
    font-weight: normal;
    color:#369;
    font-size: 1.2em;
}

table.altrowstable th {
    background-color: #126598;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
    color: #000000;
    font-weight: bold;
}

table.altrowstable {
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
table.altrowstable tr {
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#e6f0ef;
}
.evenrowcolor{
    background-color:#c3dde0;
}

/*Paginacion de las tablas*/
#alternatecolor{
    width: 100%;
}

#alternatecolor tr{
    height: 70px;
    text-align: center;

}

#testTable { 
    width : 585px;
    height: 500px;
    margin-left: auto; 
    margin-right: auto; 
}

#tablePagination { 
    background-color: #DCDCDC; 
    font-size: 0.8em; 
    padding: 0px 5px; 
    height: 20px
}

#tablePagination_paginater { 
    margin-left: auto; 
    margin-right: auto;
}

#tablePagination img { 
    padding: 0px 2px; 
}

#tablePagination_perPage { 
    float: left; 
}

#tablePagination_paginater { 
    float: right; 
}

.glossymenu{
    margin: 0 auto;
    padding: 0;
}

a.menuitem{}


a.menuitem:hover{
    color: #42A9CC;
    text-decoration: underline;
}

.glossymenu div.submenu{ 
    background: white;
}

.glossymenu div.submenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.glossymenu div.submenu ul li{
    border-bottom: 1px solid black;
}

.glossymenu submenu{
    color: #369;
    text-decoration: none;
    padding: 2px 2px;
    padding-left: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    width: auto;
    padding: 4px 0;
    padding-left: 10px
}

/*Botones siguientes y anterior en formulario*/
.button {
    border-top: 1px solid #96d1f8;
    background: #4686b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#4684b0), to(#4686b0));
    background: -webkit-linear-gradient(top, #4684b0, #4686b0);
    background: -moz-linear-gradient(top, #4684b0, #4686b0);
    background: -ms-linear-gradient(top, #4684b0, #4686b0);
    background: -o-linear-gradient(top, #4684b0, #4686b0);
    padding: 4.5px 9px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    text-decoration: none;
    vertical-align: middle;
}

.button:active {
    border-top-color: #0a293d;
    background: #0a293d;
}

.divformulario{       
    width:450px;
    border:3px solid #126598;
    border-radius: 10px;
    background: #dcebe8
}



body {
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    color: black;
    background-color: white;
}


a:hover{
    color: #42A9CC;
    text-decoration: underline;
}

.tabla {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:11px;
    -webkit-border-bottom-left-radius:11px;
    border-bottom-left-radius:11px;

    -moz-border-radius-bottomright:11px;
    -webkit-border-bottom-right-radius:11px;
    border-bottom-right-radius:11px;

    -moz-border-radius-topright:11px;
    -webkit-border-top-right-radius:11px;
    border-top-right-radius:11px;

    -moz-border-radius-topleft:11px;
    -webkit-border-top-left-radius:11px;
    border-top-left-radius:11px;
}.tabla table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.tabla tr:last-child td:last-child {
    -moz-border-radius-bottomright:11px;
    -webkit-border-bottom-right-radius:11px;
    border-bottom-right-radius:11px;
}
.tabla table tr:first-child td:first-child {
    -moz-border-radius-topleft:11px;
    -webkit-border-top-left-radius:11px;
    border-top-left-radius:11px;
}
.tabla table tr:first-child td:last-child {
    -moz-border-radius-topright:11px;
    -webkit-border-top-right-radius:11px;
    border-top-right-radius:11px;
}.tabla tr:last-child td:first-child{
    -moz-border-radius-bottomleft:11px;
    -webkit-border-bottom-left-radius:11px;
    border-bottom-left-radius:11px;
}.tabla tr:hover td{

}
.tabla tr:nth-child(odd){ background-color:#e5e5e5; }
.tabla tr:nth-child(even)    { background-color:#ffffff; }.tabla td{
    vertical-align:middle;
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    color:#000000;
}.tabla tr:last-child td{
    border-width:0px 1px 0px 0px;
}.tabla tr td:last-child{
    border-width:0px 0px 1px 0px;
}.tabla tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.tabla tr:first-child td{
    background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
    background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");        background: -o-linear-gradient(top,#cccccc,b2b2b2);

    background-color:#cccccc;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-weight:bold;
    color:#000000;
}
.tabla tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);        
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
    background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");        
    background: -o-linear-gradient(top,#cccccc,b2b2b2);
    background-color:#cccccc;
}
.tabla tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.tabla tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

.tablaSinShadow{
    box-shadow: 0px 0px 0px #ffffff;
}

.tablaFormal {
    margin:0px;padding:0px;
    width:100%;
    border:1px solid #ffffff;

    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;

    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;

    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;

    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}.tablaFormal table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.tablaFormal tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
.tablaFormal table tr:first-child td:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
.tablaFormal table tr:first-child td:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}.tablaFormal tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}.tablaFormal tr:hover td{

}
.tablaFormal tr:nth-child(odd){ background-color:#bddcfc; }
.tablaFormal tr:nth-child(even)    { background-color:#ffffff; }.tablaFormal td{
    vertical-align:middle;


    border:1px solid #ffffff;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:8px;
    color:#000000;
}.tablaFormal tr:last-child td{
    border-width:0px 1px 0px 0px;
}.tablaFormal tr td:last-child{
    border-width:0px 0px 1px 0px;
}.tablaFormal tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.tablaFormal tr:first-child td{
    background:-o-linear-gradient(bottom, #136bc4 5%, #136bc4 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #136bc4), color-stop(1, #136bc4) );
    background:-moz-linear-gradient( center top, #136bc4 5%, #136bc4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#136bc4", endColorstr="#136bc4");	background: -o-linear-gradient(top,#136bc4,136bc4);

    background-color:#136bc4;
    border:0px solid #ffffff;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-weight:bold;
    color:#ffffff;
}
.tablaFormal tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #136bc4 5%, #136bc4 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #136bc4), color-stop(1, #136bc4) );
    background:-moz-linear-gradient( center top, #136bc4 5%, #136bc4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#136bc4", endColorstr="#136bc4");	background: -o-linear-gradient(top,#136bc4,136bc4);

    background-color:#136bc4;
}
.tablaFormal tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.tablaFormal tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}