/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
    width: 1170px;

    margin: 0 auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {
    height: 180px;
    padding: 0 15px;
}

.menu{
    float: left;
    line-height: 2em;
    font-size: 12px;
    text-align: right;
    font-weight: bold;
}

.content {
    width: 600px;
    float: left;
    padding: 5px 15px;
    margin: 0px 5px 5px 4px;
    line-height: 1.6em;
}

.footer {
    /*position: fixed;*/
    bottom: 0;
    clear: both;
    padding: 0 15px;
    font-size: 11px;
    line-height: 1.6em;
    line-height: 1.6em;
}


