/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
    width: 990px;
    margin: 0 auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {
    height: 180px;
    padding: 0 15px;
}

.menu{
    float: left;
    line-height: 2em;
    font-size: 12px;
    text-align: right;
    font-weight: bold;
}

.content {
    width: 600px;
    float: left;
    padding: 5px 15px;
    margin: 0px 5px 5px 4px;
    line-height: 1.6em;
}

.footer {
    position: fixed;
    bottom: 0;
    clear: both;
    padding: 0 15px;
    font-size: 11px;
    line-height: 1.6em;
    line-height: 1.6em;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/*@media screen and (max-height: 902px){
    .footer{
        position: static;
        bottom: auto; 
    } 
}
*/
/* for 980px or less */
@media screen and (max-width: 980px) {

    #pagewrap {
        width: 94%;
    }
    .menu{
    }
    .content {
        width: 65%;
    }
    .footer{
        position: static;
        bottom: auto; 
    }

}

/* for 700px or less */
@media screen and (max-width: 825px) {

    .menu{
        width: auto;
        float: none;
        text-align: center;
        font-size: 16px;

    }
    .content {
        width: auto;
        float: none;
    }
    #navlist li
    {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }  

}
@media screen and (max-width: 550px){
    #menu{
        margin: 0 auto;
        width: 400px;
    }
}


/* for 480px or less */
@media screen and (max-width: 480px) {

    #header {
        height: auto;
    }
    h1 {
        font-size: 24px;
    }
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

@media screen and (max-width: 925px) {
    #usb-footer{
        display: none;
    }
}